.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
}

.error {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
    margin-top: 5px;
}

.input {
    width: 372px;
    height: 36px;
    margin-right: 12px;

}

.input:focus {
}

.errorInput {
    width: 372px;
    height: 36px;
    margin-right: 12px;
    border: red 1px solid;
    outline-color: red;
}

.button {
    width: 78px;
    height: 36px;
    left: 454px;
    top: 1024px;
    background: #78ade3;
    border-radius: 3px;
    font-family: 'Montserrat';
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    transition: 0.5s;
}

.button::first-letter{
    text-transform: uppercase;
}

.button:hover {
    background: #0066CC;
    cursor: pointer;
    transition: 0.5s;
}

.button:focus {
    background: #0066CC;
}

.button:active {
    background: #0066CC;
}

.button:disabled {
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
}
